// Custom.scss
$blue:    #00B4FF !default;
$green:   #007056 !default;
$primary:       $blue !default;
$secondary:    #00B4FF!default;
$font-family: 'Assistant', sans-serif;
$white : rgba(255,255,255,0.9);
@import "../assets/bootstrap/scss/functions";
@import "../assets/bootstrap/scss/variables";
@import "../assets/bootstrap/scss/mixins";

// Optional
//@import "../assets/bootstrap/scss/reboot";
//@import "../assets/bootstrap/scss/type";
//@import "../assets/bootstrap/scss/images";
//@import "../assets/bootstrap/scss/code";
//@import "../assets/bootstrap/scss/_grid";
//@import "../assets/bootstrap/scss/_card";
//@import "../assets/bootstrap/scss/_buttons";
@import "../assets/bootstrap/scss/bootstrap";

/* navigation */


 .main-navigation.toggled ul {
    display: block!important;
	position: absolute;
	top: 70px;
	z-index: 9999;
	background: white;
	width: 100vw;
	left: 0px;
	right: 0px;
	height:100vh;

}

.main-navigation.toggled  li {
	display:block;
	
	padding:25px;
}

#masthead {
    width: 100%;
    height: 100px;
    position: relative;

}

#masthead {
    width:100%;
    min-height:100px;
    position:relative;

}

    #site-navigation {
        position:relative;
        margin-top:10px;
        width:100%;

        .menu-toggle {
           background:none; 
           border:none;
        }
        
    .menu {
 
display: inline-block;
margin-left:10px;
margin-top: auto;
    }
      @include media-breakpoint-down(md) { 
          .custom-logo-link {
            position:Absolute;
            left:40px;
            top:20px;
         }
    .menu {
display: none;
margin-left:10px;
margin-top: auto;
    }


      }
         @include media-breakpoint-down(md) { 
        .menu .nav-menu {

  
              padding:0px;
            padding-top:60px;
            width:100%;
          position:Absolute;
            min-height:33vh;
         height:100vh;
            top:60px;
            left:0px;
            right:0px;
                    
                    li{

  
            padding-right:10px;
            padding-bottom:20px;
           
}
}
          
        }

       .menu .nav-menu{
                position:relative;
          
        }

        .menu-toggle {
            position:absolute;
            right:20px;
            top:20px;
        }
        a {position: relative;
        color: $black;
        display: inline-block;
        transition: color .2s ease;
        text-decoration:none !important;
        }
        a:hover {color: #aaa;}
        a:hover::after, a:hover::before {width: 100%;left: 0;}
        a::after, a::before {content: ''; position: absolute;top: calc(100% + 5px);width: 0;right: 0;height: 3px;}
        a::before {transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;background: #00B4FF;}
        a::after {transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);background: #00B4FF;}
    }

.sub-footer,
.pre-header {
    height:45px;
    background-color:$black;
    width:100%;
    overflow:hidden;

div { 
    width:100%;
    display:flex;
    
    .menu {
    display:block;
    list-style:none;
  
    margin-left:auto;
    
    li {
        padding:0.5rem 0.5rem;
        display:inline-block;
        a {
            font-size:$font-size-sm;
            
    }
     a {position: relative;color:$blue;
     display: inline-block;
     transition: color .2s ease;
     text-decoration:none !important;}
        a:hover {color: #aaa;}
        a:hover::after, a:hover::before {width: 100%;left: 0;}
        a::after, a::before {content: ''; position: absolute;top: calc(100% + 5px);width: 0;right: 0;height: 3px;}
        a::before {transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;background: #00B4FF;}
        a::after {transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);background: #00B4FF;}
}
}
}
}

.main-navigation li {
    position: relative;
    display: inline-block;
    padding-left:20px;

}
.main-navigation li a {
   text-transform:uppercase;
}

.menu-home-container {
    margin-top:auto;
}
.entry-content {
section {
padding-top:100px;
padding-bottom:150px;
box-shadow: inset 0px -3px 50px -20px rgba(255, 255, 255, 0.15);

}
}

.block-header {
    color:$white;
h2 {
     text-align:center;
     color:$white;
}
.subheadline {
     text-align:center;
     color:$white;
}
 p {
    text-align: center;
    color:$white;
}
.description {
    text-align:center;
    color:$white;
}
}

 .testimonial-wrapper .container .swiper-container .swiper-wrapper .testimonial {
     background:none;
     border:none;
     .card-header {
        display:flex;
        background:none;
        min-height:6em;
    .card-header-text {
            margin-left:auto;
            text-align:right;
            display:flex;
            flex-direction: column;
            align-content: center;
            color:$white;
div {
    margin-top:auto;
}
        small {
 
            margin-bottom:auto;
        }
}
     }


.card-body{
   background:$white;
   position:relative;
}
.card-body:after{
    position:absolute;
    left: 50%;
    bottom: calc(100% - 7px);
    -webkit-transform: translateX(-50%) scaleX(.75) rotate(-135deg);
    -ms-transform: translateX(-50%) scaleX(.75) rotate(-135deg);
    transform: translateX(-50%) scaleX(.75) rotate(-135deg);
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: $white;
    position: absolute;
    -webkit-transform: scaleX(.75) rotate(45deg);
    -ms-transform: scaleX(.75) rotate(45deg);
    transform: scaleX(.75) rotate(45deg);
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

 }


 .block-job .block-header {
           display:flex;
           flex-direction: column;
           flex-wrap:wrap;
           justify-content: space-around;
           align-items: center;
           margin-bottom:2em;
          
     .description {
         background:$white;
         padding: 20px 20px 20px 20px;
         position:relative;
         color:$black;
         width:100%;
         margin-bottom: 0.5em;

   p {
    color:$black;   
   }
     
     }
     .description::after {
             content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-color: $white;
    position: absolute;
    -webkit-transform: scaleX(.75) rotate(45deg);
    -ms-transform: scaleX(.75) rotate(45deg);
    transform: scaleX(.75) rotate(45deg);
    border-width: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    left: 50%;
    top: calc(100% - 7px);
    transform: translateX(-50%) scaleX(.75) rotate(-135deg);
    
}
     .block-image {
             margin: 1em;
         margin-left:auto;
         margin-right:auto;
     
  
	border-radius: 50%;


     }
    
     
  

     }





    .widget .menu {
    display:block;
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.site-footer .aside{

	min-height:600px;
	background:$green;
   padding-top:200px;

}




    .widget { 

        
        .menu {
    display:block;
    list-style-type:none;
    margin: 0;
    padding: 0;
    li a {
        color:$white;
    }
  }

}

  .textwidget, .custom-html-widget,  .widget-title {
         color:$white;    
  }


[data-toggle="collapse"]:before {
    display: inline-block;
    font-family: 'Font Awesome\ 5 Free';
    font-size: inherit;
    text-rendering: auto;
  content: "\f077";
  transform: rotate(0deg) ;
  transition: all linear 0.25s;
  font-weight: 900;

  }   
[data-toggle="collapse"].collapsed:before {
  transform: rotate(180deg) ;
}

.circle {
    border-radius:50%;
}

.f-timeline {
    list-style:none;


.f-timeline-event {
    line-height: 4.4em;  
        height: 4.4em;
       margin: 2.5em auto;
           position:relative;
span {

    padding-left:2em;

}
.f-timeline-date {
    border:solid 0.1px;
    border-color:$white;
    background:none;
    width: 4.4em;
    height: 4.4em;
    line-height: 4.4em;
                   display: inline-block;
    text-align: center;
    margin-right:4.4em;
    position:relative; 

       @include media-breakpoint-down(md) { 
    display:block;
    margin-right:auto;
    margin-left:auto;

       }



}
}
 .f-timeline-event:not(:last-child) .f-timeline-date:after {
    position: absolute;
    height: 2.5em;
    width: 0.1em;

    border:0.1px solid $white;
    content: ' ';
    margin-right: 2.2em;
    right: 0px;
    bottom: 0px;
    transform: translateY(100%);
    }

}











